.fundo { 
    background-color: #A8209F
}
#bcb {
    background-color: #511866;
    color: white;
}
#b{
    color: black;
	text-align: center;
    align-content: center;
}
#bu{
    color: dodgerblue;
}
#em{
    color: orangered;
}
.h1{
    text-align: center;
}
#bc {
    background-color: #E64805;
    color: white;
}
#flu{
     text-align:left;
}
#branco{
    color: white;
}